@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Noto Sans JP";
  src:
    url("/fonts/NotoSansJP-VariableFont.woff2") format("woff2"),
    url("/fonts/NotoSansJP-VariableFont.woff2") format("woff"),
    url("/fonts/NotoSansJP-VariableFont.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@keyframes hue-infinite {
  0% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(360deg);
  }

  100% {
    filter: hue-rotate(0deg);
  }
}

*,
*::after,
*::before {
  transform-style: preserve-3d;
}

:root {
  --gradient: linear-gradient(
    45deg,
    hsl(351deg 45% 15%) 0%,
    hsl(357deg 47% 20%) 13%,
    hsl(5deg 48% 25%) 18%,
    hsl(11deg 49% 30%) 23%,
    hsl(18deg 51% 35%) 27%,
    hsl(25deg 52% 40%) 30%,
    hsl(32deg 54% 45%) 33%,
    hsl(39deg 56% 50%) 37%,
    hsl(44deg 57% 56%) 40%,
    hsl(43deg 57% 62%) 43%,
    hsl(43deg 57% 68%) 46%,
    hsl(43deg 57% 74%) 49%,
    hsl(43deg 57% 80%) 51%,
    hsl(44deg 56% 86%) 54%,
    hsl(44deg 56% 92%) 57%,
    hsl(40deg 60% 98%) 60%,
    hsl(190deg 33% 96%) 63%,
    hsl(187deg 35% 91%) 67%,
    hsl(190deg 34% 86%) 70%,
    hsl(189deg 34% 80%) 73%,
    hsl(191deg 35% 75%) 77%,
    hsl(190deg 35% 70%) 82%,
    hsl(190deg 35% 64%) 87%,
    hsl(190deg 35% 59%) 100%
  );
  --size-face: 3.125rem;
}

[class^="face"] {
  position: absolute;
  z-index: 10;
  backface-visibility: visible;
}

.container.active {
  transform: rotateY(-110deg);
}

.container-content {
  z-index: 10;
  transform: translateZ(calc(var(--size-face) * -1));
}

.face-top {
  width: 100%;
  height: var(--size-face);
  background-image: var(--gradient);
  left: 0;
  top: 0;
  transform: translateZ(calc(var(--size-face) * -1)) rotateX(90deg) !important;
  transform-origin: center top;
}

.face-left {
  width: var(--size-face);
  height: 100%;
  background-image: var(--gradient);
  left: 0;
  top: 0;
  transform: translateZ(calc(var(--size-face) * -1)) rotateY(-90deg) !important;
  transform-origin: left center;
}

.face-right {
  width: var(--size-face);
  height: 100%;
  background-image: var(--gradient);
  right: 0;
  top: 0;
  transform: translateZ(calc(var(--size-face) * -1)) rotateY(90deg) !important;
  transform-origin: right center;
}

.face-bottom {
  width: 100%;
  height: var(--size-face);
  background-image: var(--gradient);
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateZ(calc(var(--size-face) * -1)) rotateX(-90deg) !important;
  transform-origin: center bottom;
}

.container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  pointer-events: none;
  background-image: url("https://assets.codepen.io/13471/sparkles.gif");
  background-color: transparent;
  background-position: 50% 50%;
  background-size: 100%;
  background-blend-mode: overlay;
  mix-blend-mode: color-dodge;
  opacity: 1;
}

@layer components {
  .screw {
    @apply absolute z-10 grid h-3 w-3 place-items-center rounded-full;
  }
}
